

body {

  background: #FFFFFF;
  background: -webkit-linear-gradient(top,  #ffffff, #faf7ff, #f9edfe, #fbe4f9, #ffd9f2);
  background: -moz-linear-gradient(top,  #ffffff, #faf7ff, #f9edfe, #fbe4f9, #ffd9f2);
  background: linear-gradient(to bottom, #ffffff, #faf7ff, #f9edfe, #fbe4f9, #ffd9f2);
}

p {

    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.sidenav {
  width: 20vw;
  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 3vh;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 8px 5px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Barlow', 'Roboto', sans-serif;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #48464b;
}
#logo {
  height: 90px;
  width: auto;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  margin-left: 15vw;
  margin-right:10vw;
  min-height: 100vh;
  transition: all 0.3s;
  font-family: 'Barlow', 'Roboto', sans-serif;
}
.iFont {
  font-family: 'Inconsolata', monospace;
}

.cpFont {
  font-family: 'Barlow', 'Roboto', sans-serif;
}

#home {
  font-size: 50px;
}

#home .row {
  margin-top: 20px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}
#aboutText {
  font-size: 25px;
}
#aboutText span {
  margin-top: 20px;
}
/* ---------------------------------------------------
    MEDIAQUERIES CONTENT
----------------------------------------------------- */

@media (max-width: 500px) {
  #content {
    margin-left: 10vw;
    margin-right:8vw;
    min-height: 100vh;
    transition: all 0.3s;
  }
    #home h1{
      font-size: 24px;
      font-weight: 700;
    }
    #home .row {
      margin-top: 10px;
    }
    #home h2 {
      font-size: 20px;
      font-weight: 700;
      
    }
    #home h3 {
      font-size: 18px;
      font-weight: 700;
    }

    section #about {
      padding-bottom: 50vh;
    }

    #aboutText{
      font-size: 16px;
    } 
    #aboutText h2 {
      font-size: 20px;
    } 
    #aboutText span {
      margin-top: 20px;
    }
    
}

@media (max-width: 320px) {
  #content {
    margin-left: 8vw;
    margin-right:6vw;
  }
  #home {
    min-height: 100vh;
  }
  #home h1{
    font-size: 20px;
  }
  #home .row {
    margin-top: 10px;
  }
  #home h2 {
    font-size: 18px;
  }
  #home h3 {
    font-size: 16px;
  }

  #aboutText{
    font-size: 16px;
    min-height: 100vh;
  } 
  #aboutText h2 {
    font-size: 18px;
  } 
  #aboutText span {
    margin-top: 20px;
  }
}


/* ---------------------------------------------------
    MEDIAQUERIES NAVIGATION
----------------------------------------------------- */

@media screen and (max-width: 500px) {
  .sidenav {
    width: 100vw;
    height: auto;
    position: relative;
    padding: 10px;
  }
  .sidenav a {
    font-size: 16px;
    text-align: center;
    float: left;
    padding: 6px 10px;
    
  }

  div.content {margin-left: 0;}

  .sidenav #logo {
    height: 0px;
    width: auto;
    visibility: hidden;
  }
}


/* ---------------------------------------------------
    PORTFOLIO STUFF
----------------------------------------------------- */
#portfolio .row {
  margin-bottom: 20px;
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}


#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}



#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;

}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Barlow', 'Roboto', sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Barlow', 'Roboto', sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
  max-height: 50vh;
  max-width: auto;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #252129;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #252129;
}